<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Tìm từ khóa</label>
            <select name="gender" class="form-control" >
                <option value="">--Chọn giới tính--</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>